<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ml.sansejin.sancolor.dao.ArticleUserMapper">
  <resultMap id="BaseResultMap" type="ml.sansejin.sancolor.entity.ArticleUser">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_by" jdbcType="TIMESTAMP" property="create_by" />
    <result column="modified_by" jdbcType="TIMESTAMP" property="modified_by" />
    <result column="user_id" jdbcType="BIGINT" property="user_id" />
    <result column="article_id" jdbcType="BIGINT" property="article_id" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, create_by, modified_by, user_id, article_id
  </sql>
  <select id="selectByExample" parameterType="ml.sansejin.sancolor.entity.ArticleUserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from tbl_article_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_article_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from tbl_article_user
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="ml.sansejin.sancolor.entity.ArticleUserExample">
    delete from tbl_article_user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="ml.sansejin.sancolor.entity.ArticleUser" useGeneratedKeys="true">
    insert into tbl_article_user (create_by, modified_by, user_id, 
      article_id)
    values (#{create_by,jdbcType=TIMESTAMP}, #{modified_by,jdbcType=TIMESTAMP}, #{user_id,jdbcType=BIGINT}, 
      #{article_id,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="ml.sansejin.sancolor.entity.ArticleUser" useGeneratedKeys="true">
    insert into tbl_article_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="create_by != null">
        create_by,
      </if>
      <if test="modified_by != null">
        modified_by,
      </if>
      <if test="user_id != null">
        user_id,
      </if>
      <if test="article_id != null">
        article_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="create_by != null">
        #{create_by,jdbcType=TIMESTAMP},
      </if>
      <if test="modified_by != null">
        #{modified_by,jdbcType=TIMESTAMP},
      </if>
      <if test="user_id != null">
        #{user_id,jdbcType=BIGINT},
      </if>
      <if test="article_id != null">
        #{article_id,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByExampleSelective" parameterType="map">
    update tbl_article_user
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.create_by != null">
        create_by = #{record.create_by,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modified_by != null">
        modified_by = #{record.modified_by,jdbcType=TIMESTAMP},
      </if>
      <if test="record.user_id != null">
        user_id = #{record.user_id,jdbcType=BIGINT},
      </if>
      <if test="record.article_id != null">
        article_id = #{record.article_id,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tbl_article_user
    set id = #{record.id,jdbcType=BIGINT},
      create_by = #{record.create_by,jdbcType=TIMESTAMP},
      modified_by = #{record.modified_by,jdbcType=TIMESTAMP},
      user_id = #{record.user_id,jdbcType=BIGINT},
      article_id = #{record.article_id,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="ml.sansejin.sancolor.entity.ArticleUser">
    update tbl_article_user
    <set>
      <if test="create_by != null">
        create_by = #{create_by,jdbcType=TIMESTAMP},
      </if>
      <if test="modified_by != null">
        modified_by = #{modified_by,jdbcType=TIMESTAMP},
      </if>
      <if test="user_id != null">
        user_id = #{user_id,jdbcType=BIGINT},
      </if>
      <if test="article_id != null">
        article_id = #{article_id,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="ml.sansejin.sancolor.entity.ArticleUser">
    update tbl_article_user
    set create_by = #{create_by,jdbcType=TIMESTAMP},
      modified_by = #{modified_by,jdbcType=TIMESTAMP},
      user_id = #{user_id,jdbcType=BIGINT},
      article_id = #{article_id,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>